<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Index</title>
    <div th:replace="fragments/head :: header"></div>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div th:insert="~{fragments/navigation::navbar}"></div>
<div class="container-fluid main">
    <div class="row justify-content-center" style="height: 100%">
        <div class="col-4 my-auto text-center">
            <h1 class="font-weight-light text-danger">NOTARIZE</h1>
            <h1 class="font-weight-light">онлайн нотариус</h1>
            <hr>
            <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" type="button" class="btn btn-outline-info col-4 ml-2">Вход</a>
            <br>
            <a th:href="@{/signup}" type="button" class="btn btn-outline-success col-4 ml-2 mt-2">Регистрация</a>
            </div>
            </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <p class="display-4 mb-5">Цели</p>
            <h2 class="font-weight-light">Улучшить условия работы нотариусов</h2>
            <h2 class="font-weight-light">Создать быстрый и удобный сервис по обслуживанию клиентов</h2>
            <h2 class="font-weight-light">Обеспечить безопасность хранения нотариально-заверенных документов</h2>
            <h2 class="font-weight-light">Помощь в автоматизации работы с клиентами</h2>
        </div>
    </div>
</div>
</body>
</html>