<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <div th:replace="fragments/head :: header"></div>
    <style>
        html, body {
            overflow-y:hidden;
            height: 100%;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/navigation::navbar}"></div>
<div class="container mt-5 justify-content-center">
    <div class="row justify-content-center">
        <form class="form-signin col-4" th:object="${signUpDto}" method="post" th:action="@{/signup}">
            <h2 class="form-signin-heading">Регистрация</h2>
            <p>
                <label for="username" class="sr-only">Никнейм</label>
                <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Никнейм"
                       autofocus="">
            </p>
            <p>
                <label for="password" class="sr-only">Пароль</label>
                <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Пароль">
            </p>
            <p>
                <label for="name" class="sr-only">Полное имя</label>
                <input type="text" id="name" th:field="*{fullName}" class="form-control" placeholder="Полное имя">
            </p>
            <p>
                <label for="city" class="sr-only">Город</label>
                <input type="text" id="city" th:field="*{city}" class="form-control" placeholder="Город">
            </p>
            <p>
                <label for="age" class="sr-only">Возраст</label>
                <input type="text" id="age" th:field="*{age}" class="form-control" placeholder="Возраст">
            </p>
            <label>
                <select name="color" th:field="*{role}">
                    <option th:each="role : ${T(ru.itis.notarizemvc.models.Role).values()}"
                            th:value="${role}"
                            th:text="${role.displayedValue}">
                    </option>
                </select>
            </label>
            <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <br>
</div>
</body>
</html>